/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  @font-face {
    font-family: modern;
    src: url(../font/T-26-MinervaModernItalic.ttf);
  }
}
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #C2C8CC;
}
.container {
    display: flex;
    justify-content: space-between;
    background-color: #C2C8CC;
    color: #000000;
    align-items: center;
    padding-left: 4vw;
    padding-right: 4vw;
    font-family:'Lucida Sans',Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
    .myhra{
        padding-left: 16vw;
        font-size: 47px;
        padding-top: 4vh;
        padding-bottom: 2vh;
        border: solid 1px red;
        cursor: pointer;
        color: #000000;
        text-decoration: none;
    }
    .ul{
        display: flex;
        list-style: none;
        gap: 3vw;
        font-size: 25px;
border: solid 1px red;
width: 940px;
justify-content: end;
cursor: pointer;
color: #000000;
text-decoration: none;
    }
.icons {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    gap: 2.3vw;
    padding-top: 6vh;
    border: solid 1px red;
    width: 60px;
    cursor: pointer;
    color: black;
}
.fa-brands{
    color: black;
    text-decoration: none;
}
.login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    font-size: 28px;
    border: solid 1px red;
    padding-top: 5.9vh;
    /* padding-left: 2vw; */
    width: 340px;
    height: 120px;
    cursor: pointer;
}
.button {
    width: 260px;
    height: 90px;
    font-size: 25px;
    background-color: #A8AEAE;
    cursor: pointer;
}
.guide {
    background-color: #3C4434;
    height: 26.5vw;
    background-color: #3C4434;
    display: flex;
    justify-content: center;
     background-attachment: fixed;
}
.twop{
    text-align: center;
     padding-top: 18vh;
    color: #FFFFFF;
    
}
.navp1 {
font-size: 1.5em;
padding-bottom: 4vh;
border: solid 1px red;
width: 30vw;
}
.navp2 {
font-size: 3.5em;
width: 30vw;
border: solid 1px red;
line-height: 6vh;
gap: 20vh;
justify-content: space-between;
}
.img1 {
    background-image: url(Nutritionist-sitting.jpeg);
    background-size: cover;
    height: 120rem;
    background-position: bottom;
    padding-top: -2000;
}
.lcontainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    width: 100%;
    height: 900px;
    margin: 0 auto;
    background-color: #3C4434;
}
  .child {
    display: inline-block;
    font-family: "Open Sans", Arial;
    color: #FFF;
    text-align: center;
    background-color: #3C4434;
    border: solid 1px red;
  }
  
  .child:first-child {
    width: 100%;
  }
  
  .child:not(:first-child) {
    flex: 1;
  }
.child0{
    align-content:center;
    height: 30vh;
    padding-top: 7em;
}
.child1{
   height: 45vh;
}
.s1title{
    font-size: 4em;   
}

.moreA{
    text-decoration: underline;
    font-size: 1.5em;
    cursor: pointer;
} 
  .newc{
    padding: 3vh;
    font-size: 3em;

}
.newc1{
    padding: 3vh;
    font-size: 1.52em;
}
.double{
    display: flex;
    justify-content: space-between;
 height: 900px;
 background-color: #3C4434;

}
.double1 {
    border: solid 1px red;
    width: 50%;
}
.double2 {
    border: solid 1px red;
    width: 50%;
    display: flex;
}
.tri {
    width: 50%;
    border: solid 1px red;
}
.tri1 {
    width: 50%;
    border: solid 1px red;
}
.triple {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.triple1 {
    display: inline-block;
    font-family: "Open Sans", Arial;
    color: #FFF;
    text-align: start;
    background-color: #3C4434;
    border: solid 1px blue;
  }
  .triple1:first-child {
    width: 100%;
  }
  
  .triple1:not(:first-child) {
    flex: 1;
  }
  /* .triple0{
    align-content:start;
    height: 30vh;
    padding-top: 2em;
  } */
.tripletitle{
    font-size: 3em;  
   align-content: start;
   padding-left: 1em;
   padding-top: 1em;
   width: 19em;
   color: #FFF;
}

.triple4{
    text-decoration: underline;
    font-size: 1.5em;
    padding-left: 1.5em;
    cursor: pointer;
} 
  .triple6{
    padding-left: 1em;
    font-size: 2em;

}
.triple3 {
    padding: 3vh;
    font-size: 1.68em;
}
.triple {
height: 45em;
}
.picv {
    width: 17em;
    height: 8em;
    padding-top: 2em;
    padding-left: 2em;
}
.double1 {
    color: #FFF;
    padding-top: 1.5em;
    padding-left: 1em;
    font-size: 2em;
}
.picv1{
width: 2em;
}
.double2 {
    display: block;
    justify-content: space-between;
    color: #FFF;
}
.plan {
    font-size: 3em;
    width: 19em;
    padding-left: 1em;
    padding-top: 1em;
}
.plan1 {
    font-size: 2.1em;
    padding-left: 1.7em;
    padding-top: 2em;
    width: 31.02em;
}
.plan2 {
    padding-left: 2.5em;
    padding-top: 3em;
    font-size: 1.5em;
}
.plan3{
    width: 18em;
    height: 4em;
    cursor: pointer;
}
.picv1{
    padding-left: 2em;
}
.picu{
    width: 15em;
    padding-left: 2em;
   padding-top: 1em;
}
.well{
    display: flex;
    justify-content: space-between;
}
.part4{
    /* font-size: 3em; */
    height: 850px;
    background-color: #3C4434;
}
.partp{
    display: flex;
    width: 25em;
    padding-top: 5em;
    padding-left: 3em;
}
.partt {
    color: #FFF;
    font-size: 2em;
    width: 19em;
    padding-left: 2em;
    padding-top: 1em;
}
.exx{
    width: 38em;
    padding-left: 4em;
    padding-top: 2em;
    padding-right: 4em;
    cursor: pointer;
}
 /* .exx1{
    width: 30em;
    padding-left: 4em;
    padding-top: 2em;
} */
.ewe{
    display: flex;
    /* justify-content: space-between; */

}
.ener{
    font-size: 2em;
    color: #FFF;
}
.nevv{
    height: 333px;
    background-color: #C2C8CC;
    align-content: center;
    padding-left: 23em;
    font-size: 2em;
}
.nevv1{
    padding-bottom: 1em;
    padding-left: 1em;
    font-size: 1.6em;
}
.nevv2{
    height: 4em;
    width: 15em;
    padding-left: 2em;
}
.nevv3{
    height: 3em;
    width: 6em;
    background-color: black;
    color: #C2C8CC;
    text-align: center;
    cursor: pointer;
}